[project]
	description = example for gradle project management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wangkexiong (wangkexiong)
[access "refs/for/refs/*"]
	read = group user/wangkexiong (wangkexiong)
	push = group user/wangkexiong (wangkexiong)
	label-Code-Review = -2..+2 group user/wangkexiong (wangkexiong)
	label-Verified = -1..+1 group user/wangkexiong (wangkexiong)
	rebase = group user/wangkexiong (wangkexiong)
	removeReviewer = group user/wangkexiong (wangkexiong)
	submit = group user/wangkexiong (wangkexiong)
[access "refs/heads/*"]
	read = group user/wangkexiong (wangkexiong)
	create = group user/wangkexiong (wangkexiong)
	push = +force group user/wangkexiong (wangkexiong)
	pushMerge = group user/wangkexiong (wangkexiong)
[access "refs/tags/*"]
	push = group user/wangkexiong (wangkexiong)
	push = +force group user/wangkexiong (wangkexiong)
